<?php
/**
 * Order details table shown in emails.
 *
 * This template can be overridden by copying it to yourtheme/woocommerce/emails/email-order-details.php.
 *
 * HOWEVER, on occasion WooCommerce will need to update template files and you
 * (the theme developer) will need to copy the new files to your theme to
 * maintain compatibility. We try to do this as little as possible, but it does
 * happen. When this occurs the version of the template file will be bumped and
 * the readme will list any important changes.
 *
 * @see https://docs.woocommerce.com/document/template-structure/
 * @package WooCommerce/Templates/Emails
 * @version 3.3.1
 */
if ( ! defined( 'ABSPATH' ) ) {
	exit;
}
$text_align = is_rtl() ? 'right' : 'left';
do_action( 'woocommerce_email_before_order_table', $order, $sent_to_admin, $plain_text, $email ); ?>

<tr>
    <td style="font-family: Montserrat, Helvetica, Arial, sans-serif; padding: 24px; background-color: #fff7f4;">


    <table style='width: 100%; font-size: 20px; color: #0a6769'>
    <tr>

        <td valign='top' width='60%'>
            <h2 style="font-family: 'Abril Fatface', 'Times New Roman', Times, serif; margin: 0 0 8px 0; font-size: 26px; line-height: 36px; color: #0a6769;">Items:</h2>
        </td>
        <td width='40%'></td>
    </tr>

    <?php
    echo wc_get_email_order_items( $order, array( // WPCS: XSS ok.
        'show_sku'      => $sent_to_admin,
        'show_image'    => false,
        'image_size'    => array( 32, 32 ),
        'plain_text'    => $plain_text,
        'sent_to_admin' => $sent_to_admin,
    ) );
        ?>

    <tr class='height: 12px;'></tr>

    <?php
    $totals = $order->get_order_item_totals();
    if ( $totals ) {
        $i = 0;
        foreach ( $totals as $total ) {
            $i++;
    ?>
    <tr>
        <td style='border-top: 1px solid #71acad; padding: 8px 8px 8px 0;'><?php echo wp_kses_post( $total['label'] ); ?></td>
        <td style='border-top: 1px solid #71acad; padding: 8px 8px 8px 0;'><?php echo wp_kses_post( $total['value'] ); ?></td>
    </tr>

    <?php
        } /* end foreach */
    } /* end if */
    if ( $order->get_customer_note() ) {
    ?>
    <tr>
        <td style='border-top: 1px solid #71acad; padding: 8px 8px 8px 0;'><?php esc_html_e( 'Note:', 'woocommerce' ); ?></td>
        <td style='border-top: 1px solid #71acad; padding: 8px 8px 8px 0;'><?php echo wp_kses_post( wptexturize( $order->get_customer_note() ) ); ?></td>
    </tr>
    <?php
    } /* end if */
    ?>

    </table>
    </td>
</tr>

<?php do_action( 'woocommerce_email_after_order_table', $order, $sent_to_admin, $plain_text, $email ); ?>
